<div class="nav-div">
  <nav>
    <ul>
      <li><a routerLink="/main">MAIN</a></li>
      <li><a routerLink="/user">USER</a></li>
      <li><a routerLink="/login">LOGIN</a></li>
      <li><a routerLink="/name-editor">NAME EDITOR</a></li>
      <li><a routerLink="/profile-editor">PROFILE EDITOR</a></li>
      <li><a routerLink="/actor-form">ACTOR FORM</a></li>
      <li><a routerLink="/actor-form-template">ACTOR FORM TEMPLATE</a></li>
      <li><a routerLink="/question">QUESTION</a></li>
      <li><a routerLink="/A">LINK A</a></li>
      <li><a routerLink="/B">LINK B</a></li>
      <li><a routerLink="/A">LINK A</a></li>
      <li><a routerLink="/B">LINK B</a></li>
      <li><a routerLink="/A">LINK A</a></li>
      <li><a routerLink="/B">LINK B</a></li>
      <li><a routerLink="/A">LINK A</a></li>
      <li><a routerLink="/B">LINK B</a></li>
    </ul>
  </nav>
</div>
